[submodule "contrib/cub"]
	path = contrib/cub
	url = https://github.com/nvlabs/cub
[submodule "contrib/tbb"]
	path = contrib/tbb
	url = https://github.com/nsubtil/tbb
[submodule "contrib/thrust"]
	path = contrib/thrust
	url = https://github.com/thrust/thrust
